.cardapio {
    position: relative;
    padding: 0.9em;
    margin: 0.2em;
    width: 15em;
    height: 16em;
}

.cardapio > p {
    margin-top: 13.5em;
}

.carrinho{
    height: 100%;
    min-height: 34em;
    width: 65%;
    border: solid 1px rgb(182, 176, 176);
    border-radius: 5px;
    background-color: white;  
}

.itens{
    text-align: left;
    height: 100%;
}

.preco{
    width: calc(100% - 30px);
    padding: 15px;
}

.imgCarrinho{
    width: 5em;
    height: 5em;
}

.itemUnico{
    width: calc(100% - 30px);
    margin: 15px;
}

.prodInfo{
    width: calc(100% - 5em - 30px);
    padding: 0px 15px;
}

.valoresEPagamento{
    float: right;
    height: 30em;
    width: 30%;
}
.valor{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 20px;
    border: solid 1px rgb(182, 176, 176);
    border-radius: 5px;
    background-color: white;
}

.nomePreco{
    width: 100%;
}

hr.linha{
    margin-bottom: 15px;
    border: solid 1px rgb(206, 206, 206);
}

#titulo-carrinho{
    margin: 15px;
}
form {
    width: 100%;
    max-width: none;
    min-width: none;
    font-size: 16px;
}

.nome-campo {
    font-size: 10px;
}

input[type=text], input[type=email], input[type=password], input[type=tel],  input[type=number], input[type=radio], select {
    width: 50px;
    padding: 5px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 12px;
}


@media screen and (max-width: 900px) {
    .valoresEPagamento{
        float:none;
        width: 100%;
    }
    .carrinho{
        width: 100%;
        margin-bottom: 1em;
        min-height: 15em;
    }
    .itemUnico{
        width: 100%;
        margin: 5px;
        font-size: 12px;
        height: 100px;
    }
    #titulo-carrinho{
        margin: 10px;
        height: 30px;
    }
    .prodInfo{
        width: calc(100% - 5em - 5px);
        padding: 0;
    }
    form {
        max-width: auto;
        min-width: 100%;
        font-size: 12px;
    }
    
    .nome-campo {
        font-size: 10px;
    }
    
    input[type=text], input[type=email], input[type=password], input[type=tel],  input[type=number], input[type=radio], select {
        width: 50px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 2px;
        box-sizing: border-box;
        font-size: 12px;
    }
    .nomePreco{
        width: 95%;
    }
    #conteudo{
        margin: 0;
        padding: 0;
    }
    hr.linha{
        width: 95%;
    }
    .imgCarrinho{
        margin-right: 5px;
    }
}
