.cardapio {
    position: relative;
    padding: 0.9em;
    margin: 0.2em;
    width: 15em;
    height: 16em;
}

.cardapio > p {
    margin-top: 13.5em;
}

.carrinho{
    height: 32em;   
    width: 65%; 
    border: solid 1px rgb(182, 176, 176);
    border-radius: 5px;
    background-color: white;
}

.itens{
    text-align: left;
    height: 100%;
}

.preco{
    width: calc(100% - 30px);
    padding: 15px;
}

.imgCarrinho{
    width: 5em;
    height: 5em;
}

.itemUnico{
    width: calc(100% - 30px);
    margin: 15px;
}

.prodInfo{
    width: calc(100% - 5em - 30px);
    padding: 0px 15px;
}

.valoresESugestoes{
    float: right;
    box-sizing: border-box;
    height: 32em;
    width: 30%;
}
.valor{
    box-sizing: border-box;
    height: 9em;
    width: 100%;
    padding: 20px;
    border: solid 1px rgb(182, 176, 176);
    border-radius: 5px;
    background-color: white;
}

.nomePreco{
    width: 100%;
}

.sugestoes{
    height: 21em;
    margin-top: 2em;
    background-color: white;
    border: solid 1px rgb(182, 176, 176);
    border-radius: 5px;
}

hr.linha{
    margin: 0px 15px 0px 15px;
    border: solid 1px rgb(206, 206, 206);
}
