a {
    text-decoration: none;
    margin: 1em;
    color: rgb(110, 103, 103);
}
a:hover {
    background-color: rgb(206, 201, 201);
    padding: 0.5em;
    margin: 0.5em;
}

.cardapio {
    position: relative;
    padding: 0.9em;
    margin: 0.2em;
    width: 15em;
    height: 16em;
   /*background-color: yellow;*/
}

.cardapio > p {
    margin-top: 13.5em;
}

.carrinho{
    height: 32em;   
    width: 65%; 
    border: solid 1px rgb(182, 176, 176);
    border-radius: 5px;
    background-color: white;
}
.valoresESugestoes{
    float: right;
    box-sizing: border-box;
    height: 32em;
    width: 30%;
    border: solid 1px rgb(182, 176, 176);
    border-radius: 5px;
    background-color: white;
}

.itens{
    text-align: start;
    padding: 20px;
    margin: 10px;
    border-bottom: solid 1px rgb(182, 176, 176);
    border-top: solid 1px rgb(182, 176, 176);
}

.preco{
    width: 90%;
    margin: 10px;
}

.prodCarrinho{
    width: 5em;
    height: 5em;
}

.prodInfo{
    width: 30em;
    padding:  0px 20px 0px 20px;
}
.valor{
    float: right;
    box-sizing: border-box;
    height: 9em;
    width: 100%;
    border-bottom: solid 1px rgb(182, 176, 176);
}
.sugestoes{
    float: right;
    box-sizing: border-box;
    height: 17em;
    width: 100%;
}
