.slider {
    display: block;
/*    height: 293px;
    width: 600px;*/
    margin: auto;
    margin-top: 1em;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 12em;
    width: 15em;
    vertical-align: top;
    border-radius: 0.4em;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #fff;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}


.slider li:nth-child(1) label {
    left: 1em;
}

.slider li:nth-child(2) label {
    left: 2.2em;
}

.slider li:nth-child(3) label {
    left: 3.4em;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}