* {margin: 0; padding: 0}

.text-right {text-align: right}
.text-center {text-align: center}
.inline-block {display: inline-block}

body {
    background-color: #ffbbbc;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    margin: 1em;
    color: #000;
}

h2 {
    font-weight: normal;
}

a:hover {
    background-color: #ffd5d6;
    padding: 0.5em;
    margin: 0.5em;
}

.container {
    /*background-color: green;*/
    margin: auto;
    width: 90%;
    position: relative;
    font-family: Arial;
    color: #000;
}

.session {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    /*background-color: #a3e4c4;*/
}

.cardapio {
    position: relative;
    padding: 0.9em;
    margin: 0.2em;
    width: 15em;
    height: 16em;
   /*background-color: yellow;*/
}

.cardapio > p {
    margin-top: 13.5em;
}

#cabecalho {
    height: 5em;
    /*border: solid 1px rgb(182, 176, 176);*/
    background-color: #fff;
}

#header-image {
    float: left;
    width: 8em;
    height: 5em;
    margin-left: 1em;
}

#itens {
    background-color: #ffd5d6;
}

#sobre {
    height: 14em;
    /*border: solid 1px rgb(182, 176, 176);*/
    background-color: #fff;
    margin-bottom: 0;
}

#contato {
    height: 10em;
    /*border: solid 1px rgb(182, 176, 176);*/
    background-color: #fff;
    margin-top: 1px;
}