* {margin: 0; padding: 0}

.text-right {text-align: right}
.text-center {text-align: center}
.inline-block {display: inline-block}

body {
    background-color: #ffbbbc;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
}

.menu {
    margin: 1em;
    color: #000;
}

h2 {
    font-weight: normal;
}

.menu:hover {
    background-color: #ffd5d6;
    padding: 0.5em;
    margin: 0.5em;
}

.container {
    /*background-color: green;*/
    margin: auto;
    width: 90%;
    position: relative;
    font-family: Arial;
    color: #000;
}

.session {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    /*background-color: #a3e4c4;*/
}

#cabecalho {
    height: 5em;
    /*border: solid 1px rgb(182, 176, 176);*/
    background-color: #fff;
}

.imagem-logo {
    /*float: left;*/
    
    width: 3em;
    height: 2.5em;
    margin-right: 1em;
}

#header-image {
    float: left;
    width: 8em;
    height: 5em;
    margin-left: 1em;
}

#conteudo {
    background-color: #ffd5d6;
}

#contato {
    /*height: 10em;
    /*border: solid 1px rgb(182, 176, 176);*/
    background-color: #fff;
    /*margin-top: 1px;*/
}

.copyright {
    text-align: center;
    font-size: 0.7em;
}

.botao {
    min-width: 5em;
    background-color: #fe8081;
    padding: 14px 0px; 
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.botao-texto {
    color: white;
    font-size: 16px;
}