<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Doce Chamego</title>
        <meta charset="utf-8">
        <link rel="icon" type="image/jpeg" href="img/logos/logo.jpeg" />
        <link href="css/style.css" rel="stylesheet">
        <link href="css/carrinho.css" rel="stylesheet">
    </head>

    <body>  
        <div id="app">
            <div id="container" class="container">
                <menu_superior v-bind:paginas='[{nome: "Tela inicial", caminho: "index.html"}, {nome: "Personalização", caminho: "personalizacao.html"}]'></menu_superior>
                <div id="conteudo-carrinho" class="session text-center">
                    <div class="carrinho inline-block">
                        <h2 id="titulo-carrinho">Carrinho de compras</h2>
                        <div class="itens">
                            <div v-for="item, indice in produto" class="itemUnico">
                                <hr class="linha">
                                <img class="imgCarrinho inline-block"src="img/cone-trufado1.jpeg" alt="cone-trufado1">
                                <div class="right prodInfo">
                                    <div class="nomePreco inline-block">
                                        <h3 class="inline-block">{{ item.nomeDoProduto }}</h3>
                                        <h3 class="inline-block right">R${{ item.preco }}</h3>
                                    </div>
                                    <p>{{ item.informacoesImportantes }}</p>
                                    <form>
                                        <label for="name">Quantidade:</label>
                                        <input type="text" id="nProdutos" name="nProdutos" required min="1" v-model="quantidadeDosProdutos[indice]" >
                                        <button class="editar" type="button" v-on:click.prevent.stop="precoTotal()">Adicionar</button>
                                        <input class="excluir" type="button" value="Remover" v-on:click="removerDoCarrinho(indice)">
                                    </form>
                                </div>
                            </div>
                            <hr class="linha">
                            <div class="preco inline-block">
                                <p style="text-align: end;">Subtotal ({{ qtdDeProdutos }} item): R${{ valorTotal }}</p>
                            </div>
                        </div>
                    </div>
                        <div class="valor  inline-block">
                            <h3>Insira os dados do cartão</h3>
                            <form>
                                <label for="titutar">Nome do titular do cartão</label><br>
                                <input type="text" id="titutar" name="titutar" required style="width: 80%" v-model="formaDePagamento.nomeDoTitular"><br>
                                <label for="numero">Numero do cartão</label><br>
                                <input type="number" id="numero" name="numero" placeholder="xxxx.xxxx.xxxx.xxxx" required style="width: 80%;" v-model="formaDePagamento.numeroDoCartao" ><br>
                                <label cfor="cvv">CVV</label><br>
                                <input type="number" id="cvv" name="cvv"  placeholder="xxx" required v-model="formaDePagamento.cvv" ><br>
                                <label for="validade">Validade do cartão</label><br>
                                <input type="date" id="validade" name="validade" placeholder="dd/mm/aaaa" required v-model="formaDePagamento.validade" ><br>
                            </form>
                            <p class="text-center" v-if="erros.length">
                                <b>Por favor, corrija os seguintes erro(s):</b>
                                <ul>
                                <li v-for="erro in erros">{{ erro }}</li>
                                </ul>
                            </p>
                            <h3 style="margin: 10px;">Subtotal ({{ qtdDeProdutos }} itens): <b>R${{ valorTotal }}</b></h3>
                            <form>
                                <input type="checkbox" id="presente" name="presente" v-model="presente" >
                                <label for="presente">Este pedido é um presente</label>
                            </form>
                            <button class="botao botao-texto botao-unico" type="button" v-on:click="entrar">Fechar pedido</button> 
                        </div>
                </div>            
                <rodape></rodape>
            </div>
        </div>

        <script src="https://unpkg.com/vue"></script>
        <script src="templates/menu.js"></script>
        <script src="templates/rodape.js"></script>
        <script src="vue/carrinho.js"></script>
    </body>
</html>