<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Doce Chamego</title>
        <meta charset="utf-8">
        <link rel="icon" type="image/jpeg" href="img/logos/logo.jpeg" />
        <link href="css/style.css" rel="stylesheet">
        <link href="css/carrinho.css" rel="stylesheet">
    </head>

    <body>  
        <div id="app">
            <div id="container" class="container">
                <header id="cabecalho" class="session text-right">
                    <a href="index.html"><img id="header-image" class="inline-block" src="img/logos/logo-e-nome.jpeg" alt="Doce Chamego"></a>
                    <a class="menu" href="index.html">Continuar comprando</a>
                    <a class="menu" href="login.html">Sair</a>
                    <!--<a href="carrinho.html">Carrinho</a>-->
                    <!--<a href="#contato">Sair</a>-->               
                </header>
                
                <div id="conteudo" class="session text-center">
                    <div class="session">
                        <div class="carrinho inline-block">
                            <h2 style="margin: 15px;">Carrinho de compras</h2>
                            <div class="itens">
                                <div v-for="item, indice in produto" class="itemUnico">
                                    <hr class="linha">
                                    <img class="imgCarrinho inline-block"src="img/cone-trufado1.jpeg" alt="cone-trufado1">
                                    <div class="right prodInfo">
                                        <div class="nomePreco inline-block">
                                            <h3 class="inline-block">{{ item.nomeDoProduto }}</h3>
                                            <h3 class="inline-block right">R${{ item.preco }}</h3>
                                        </div>
                                        <p>{{ item.informacoesImportantes }}</p>
                                        <p>{{ item.prazoMin }} a {{ item.prazoMax }} dias uteis</p>
                                        <form>
                                            <label for="name">Quantidade:</label>
                                            <input type="number" id="nProdutos" name="nProdutos" required min="1" v-model="item.qtdDoProduto">
                                            <button type="button" v-on:click="mudarQtdDeItens(indice)">Adicionar</button>
                                            <input type="reset" value="remover" v-on:click="removerDoCarrinho(indice)">
                                        </form>
                                    </div>
                                </div>
                                <hr class="linha">
                                <div class="preco inline-block">
                                    <p style="text-align: end;">Subtotal ({{ qtdDeProdutos }} item): R${{ valorTotal }}</p>
                                </div>
                                
                            </div>
                        </div>
                        <div class="valoresESugestoes inline-block">
                            <div class="valor">
                                <h3>Subtotal ({{ qtdDeProdutos }} itens): <b>R${{ valorTotal }}</b></h3>
                                <form>
                                    <input type="checkbox" id="presente" name="presente" v-model="presente" >
                                    <label for="presente">Este pedido contem um presente</label>
                                </form>
                                <button class="botao botao-texto botao-unico" type="button">Fechar pedido</button> 
                            </div>
                            <div class="sugestoes">
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            

                <rodape></rodape>
            </div>
        </div>

        <script src="https://unpkg.com/vue"></script>
        <script src="templates/rodape.js"></script>
        <script>
            var conteudo = new Vue({
                el: '#app',
                
                beforeCreate() {
                    valorTotal = 0,
                    qtdDeProdutos = 0,
                    presente = false
                },

                mounted(){   
                    var _vm = this;
                    for (let indice = 0; indice < _vm.produto.length; indice++) {
                        _vm.valorTotal += _vm.produto[indice].preco * _vm.produto[indice].qtdDoProduto;
                        _vm.qtdDeProdutos += _vm.produto[indice].qtdDoProduto;
                    }
                },

                data: {
                    produto: [
                        { 
                            nomeDoProduto: "Headset Logitech GPRO",
                            preco: 620.00,
                            informacoesImportantes: "Vendido e entregue por Doce Chamego",
                            prazoMin: 15,
                            prazoMax: 20,
                            qtdDoProduto: 1
                        },
                        { 
                            nomeDoProduto: "Headset Logitech GPRO",
                            preco: 620.00,
                            informacoesImportantes: "Vendido e entregue por Doce Chamego",
                            prazoMin: 15,
                            prazoMax: 20,
                            qtdDoProduto: 1
                        },
                        
                    ],
                    valorTotal: 0,
                    qtdDeProdutos: 0,
                    presente: false
                },
                methods: {
                    removerDoCarrinho: function(indice){
                        var _vm = this;
                        _vm.valorTotal -= (_vm.produto[indice].preco * _vm.produto[indice].qtdDoProduto);
                        _vm.qtdDeProdutos -= _vm.produto[indice].qtdDoProduto;
                        _vm.produto.splice(indice, 1);
                    },
                    atualizarItem(indice){

                    }
                }
            })
        </script>
    </body>
</html>