<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Doce Chamego</title>
        <meta charset="utf-8">
        <link rel="icon" type="image/jpeg" href="img/logos/logo.jpeg" />
        <link href="css/style.css" rel="stylesheet">
        <link href="css/cardapio.css" rel="stylesheet">
    </head>

    <body>  
        <div id="app">
            <div id="container" class="container">
                <menu_superior v-bind:paginas='[{nome: "Cadastre-se", caminho: "cadastro.html"}, {nome: "Login", caminho: "login.html"}, {nome: "Administrativo", caminho: "admin.html"}, {nome: "Carrinho", caminho: "carrinho.html"}, {nome: "Personalização", caminho: "personalizacao.html"}]'></menu_superior>
                <div id="conteudo" class="session text-center">
                    <div v-for="item, indice in produtos" class="cardapio inline-block">
                        <h2>{{ item.nome }}</h2>

                        <ul class="slider" >
                            <li v-for="fotos in item.imagens">
                                <input type="radio" v-bind:id="fotos.slide" v-bind:name="item.nome" checked>
                                <label v-bind:for="fotos.slide"></label>
                                <img v-bind:src="fotos.caminho">
                            </li>
                        </ul>
                        <p>{{ item.descricao }} R${{ item.preco }}</p>
                    </div>
                </div>
                <rodape></rodape>
            </div>

        </div>

        <script src="https://unpkg.com/vue"></script>
        <script src="templates/menu.js"></script>
        <script src="templates/rodape.js"></script>
        <script src="vue/index.js"></script>
        <script src="vue/login.js"></script>
    </body>
</html>