<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Doce Chamego</title>
        <meta charset="utf-8">
        <link rel="icon" type="image/jpeg" href="img/logos/logo.jpeg" />
        <link href="css/style.css" rel="stylesheet">
        <link href="css/formulario.css" rel="stylesheet">
    </head>

    <body>  
        <div id="app">

            <div id="container" class="container">
                <menu_superior v-bind:paginas='[{nome: "Cadastre-se", caminho: "cadastro.html"}, {nome: "Login", caminho: "login.html"}]'></menu_superior>
                
                <div id="conteudo" class="session text-center">
                    <h2>Personalize sua caixa!</h2>

                    <form method="POST">
                        <div class="produto-da-caixa">
                            <p class="nome-campo">Tipo de caixa</p>
                            <select v-model="tipo_de_caixa.nome">
                                <option>Festa na Caixa</option>
                                <option>Café da Manhã</option>
                                <option>Caixa Bar</option>
                            </select>

                            <p class="nome-campo">Descrição</p>
                            <p>{{ tipo_de_caixa.descricao }}</p>
                        
                            <p class="nome-campo">Tamanho</p>
                            <select v-model="tamanho" v-on:change="selecionarTamanho()">
                                <option v-for="(item, index) in tamanhos"> {{ item.nome }} </option>
                            </select>

                            <p class="nome-campo">Cor</p>
                            <input type="text" autocomplete="off" v-model="cor">
                        </div>

                        <div class="produto-da-caixa">
                            <p class="nome-campo">Bebida</p>
                            <select v-model="bebida" v-on:change="selecionarBebida()">
                                <option v-for="(item, index) in bebidas"> {{ item.nome }} </option>
                            </select>

                            <p class="nome-campo">Especifique a bebida</p>
                            <input type="text" autocomplete="off" v-model="especifiqueBebida">

                            <p class="nome-campo">Quantidade de bebida</p>
                            <input type="number" value="2" min="1" max="5" v-model="quantidadeDeBebida"> 
                            
                            <p class="nome-campo">Preço</p>
                            <input type="text" disabled value="0" v-model="precoBebida"> 
                        </div>
                    
                        <!-- Café da Manhã e Caixa Bar -->

                        <div v-if="tipo_de_caixa.nome == 'Café da Manhã' || tipo_de_caixa.nome == 'Caixa Bar'">
                            <div class="produto-da-caixa">
                                <p class="nome-campo">Aperitivos</p>
                                <div v-for="(item, index) in aperitivos"> <input type="checkbox" v-model="aperitivosSelecionados[index]"> {{ item.nome }} <br/> </div>

                                <p class="nome-campo">Preço</p>
                                <input type="text" disabled value="0" v-model="precoAperitivo" v-model=> 
                            </div>
                        </div>

                        <!-- Acompanhamentos -->

                        <div class="produto-da-caixa">
                            <p class="nome-campo">Acompanhamento</p>
                            <div v-for="(item, index) in acompanhamentos"> <input type="checkbox" v-model="acompanhamentosSelecionados[index]"> {{ item.nome }} <br/> </div>

                            <p class="nome-campo">Preço</p>
                            <input type="text" disabled value="0" v-model="precoAcompanhamento"> 
                        </div>

                        <p class="nome-campo">Preço total</p>
                        <input type="text" disabled value="0" v-model="precoTotal"> 

                        {{ erros }}

                        <div class="botoes">
                            <a href="carrinho.html" v-on:click="comprar($event)"><div class="botao botao-texto botao-unico">Comprar</div></a>
                        </div> 
                    </form>

                </div>

                <rodape></rodape>
            </div>

        </div>

        <script src="https://unpkg.com/vue"></script>
        <script src="templates/menu.js"></script>
        <script src="templates/rodape.js"></script>
        <script src="vue/personalizacao.js"></script>
    </body>
</html>