<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Doce Chamego</title>
        <meta charset="utf-8">
        <link rel="icon" type="image/jpeg" href="img/logos/logo.jpeg" />
        <link href="css/style.css" rel="stylesheet">
        <link href="css/formulario.css" rel="stylesheet">
    </head>

    <body>  
        <div id="app">
            <div id="container" class="container">
                <menu_superior v-bind:paginas='[{nome: "Tela inicial", caminho: "index.html"}]'></menu_superior>
                
                <div id="conteudo" class="session text-center">
                    <h2>Editar Produto</h2>
                    
                    <form method="POST">
                        <p class="nome-campo">Nome do produto</p>
                        <input type="text" id="nome" name="email" autofocus autocomplete="off" required v-model="nome">

                        <p class="nome-campo">Preço</p>
                        <input type="text" id="preco" placeholder="10.00" autocomplete="off" maxlength="11" required v-model="preco"><br>
                        
                        <p class="nome-campo">Quantidade</p>
                        <input type="number" id="quantidade" required v-model="quantidade"><br>

                        <p class="nome-campo">Descrição</p>
                        <input type="text" id="descricao" autocomplete="off" required v-model="descricao"><br>
                        
                        <div class="botoes">
                            <a href="admin.html" class="botao botao-texto multiplos-botoes">Voltar</a>
                            <input class="botao botao-texto multiplos-botoes" type="submit" name="editar" value="Editar">
                        </div> 
                    </form>

                </div>

                <rodape></rodape>
            </div>
        </div>

        <script src="https://unpkg.com/vue"></script>
        <script src="templates/menu.js"></script>
        <script src="templates/rodape.js"></script>
        <script src="vue/produto-editar.js"></script>
    </body>
</html>